.card-block-01,
.card-block-02,
.card-block-03,
.card-block-04,
.card-block-05{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.28);


    .image-block {
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

    }

    .content-block {
        background: $white;
        padding: 15px 20px;

        .third__heading {
            margin: 0;
            margin-bottom: 10px;

        }

        .price-body {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            p {
                margin: 0;
            }

            .rating {
                margin-left: 20px;
                color: rgba($color: $black, $alpha: .5);

                span:nth-child(2) {
                    display: flex;
                    align-items: center;
                    margin-left: 2px;

                    img {
                        width: 0.7rem;

                    }
                }
            }


        }

        .price {
            del {
                color: rgba($color: $black, $alpha: .5);

            }

            .third__heading {
                margin: 0;
                margin-right: 20px;

            }
        }

    }
}



.card-block-02 {
   
    .content-block {
        background: $white;
        padding: 15px 20px;
        text-align: center;
        padding-top: 25px;


        .deals-logo{
            width: 150px;
            margin-bottom: 25px;


        }
        
        .sub__heading{
            margin-bottom: 10px;

        }
        

    }
}

.card-block-03 {

    display: flex;
    flex-direction:row-reverse;
    max-height: 500px;

    .image-block{
        width: 50%;
        border-radius: 0;
        height: 100%;

    }
    
    .content-block {
        background: $white;
        padding: 15px 20px;
        text-align: center;
        padding-top: 25px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        

        .deals-logo{
            width: 180px;
            margin-bottom: 45px;
            


        }
        
      
        .explore-btn {
            background-color: transparent;
            border: 1px solid $black;
            padding: 5px 15px;
            border-radius: 5px;
            margin-top: 15px;
        }
        

    }
}


.card-block-04{
    padding: 20px;

    .image-block{
        width: 100%;
        text-align: center;
        height: auto;
        padding: 30px 0 20px;
       img{
            width: 120px;
            height: 120px;
            border-radius: 100%;
            margin: 0 auto;
       }
    }

    .rating-block{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--step-0);
        margin-bottom: 20px;

        img{
            width: 15px;
            filter: brightness(0);
            margin: 0 3px;
        }

        span{
            margin-left: 10px;
        }
    }
}

.card-block-05 {
    display: flex;
    max-height: 500px;
    border-radius: 0;
    transform: scale(1) !important; 


    .image-block{
        width: 60%;
        border-radius: 0;
        height: auto;

        img{
            height: 100%;
            border-radius: 0;
        }

    }
    
    .content-block {
        background: $white;
        padding: 15px 20px;
        text-align: left;
        padding-top: 25px;
        width: 40%;
        display: flex;
        align-items:flex-start;
        justify-content: center;
        flex-direction: column;

    }
   
}