@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  font-size: 100%;
  --step--2: clamp(0.5208rem, 0.4681rem + 0.2635vw, 0.8898rem);
  --step--1: clamp(0.625rem, 0.5618rem + 0.3162vw, 1.0677rem);
  --step-0: clamp(0.75rem, 0.6741rem + 0.3795vw, 1.2813rem);
  --step-1: clamp(0.9rem, 0.8089rem + 0.4554vw, 1.5375rem);
  --step-2: clamp(1.08rem, 0.9707rem + 0.5464vw, 1.845rem);
  --step-3: clamp(1.296rem, 1.1649rem + 0.6557vw, 2.214rem);
  --step-4: clamp(1.5552rem, 1.3978rem + 0.7869vw, 2.6568rem);
  --step-5: clamp(1.8662rem, 1.6774rem + 0.9442vw, 3.1882rem);
}

.btn-primary {
  background-color: transparent !important;
  border: 1px solid #000 !important;
  padding: 5px 15px !important;
  border-radius: 5px !important;
  margin-top: 30px !important;
  color: #000 !important;
  transition: all 0.3s ease-in-out !important;
}
.btn-primary:hover {
  background-color: #000 !important;
  color: #fff !important;
}

.heading {
  font-family: "Libre Baskerville", system-ui;
  font-size: var(--step-5);
}

.sub__heading {
  font-family: "Libre Baskerville", system-ui;
  font-size: var(--step-4);
}

.third__heading {
  font-family: "Libre Baskerville", system-ui;
  font-size: var(--step-1);
}

.para {
  font-family: "Libre Baskerville", system-ui;
  font-size: var(--step-0);
}

.small {
  font-family: "Libre Baskerville", system-ui;
  font-size: var(--step--2);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", system-ui;
}

.wrapper {
  width: 100%;
}

.header {
  padding: 10px 5rem;
  border-bottom: 1px solid #ededec;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
}
.header .container-fluid .left-col {
  display: flex;
  align-items: center;
}
.header .container-fluid .left-col .logo {
  width: 57px;
  height: auto;
}
.header .container-fluid .left-col .navigation {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .header .container-fluid .left-col .navigation {
    display: none;
  }
}
.header .container-fluid .left-col .navigation .navbar-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.header .container-fluid .left-col .navigation .navbar-nav .nav-item {
  text-align: center;
  margin: 0 15px;
}
.header .container-fluid .left-col .navigation .navbar-nav .nav-item .nav-link {
  color: #000;
  font-family: "Libre Baskerville", system-ui;
  font-size: var(--step--1);
  white-space: nowrap;
}
.header .container-fluid .right-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .container-fluid .right-col .search-panel {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  margin-right: 3rem;
}
@media screen and (max-width: 1024px) {
  .header .container-fluid .right-col .search-panel {
    display: none;
  }
}
.header .container-fluid .right-col .search-panel .input-box {
  display: flex;
  align-items: center;
  width: 70%;
  background-color: #F0F0F0;
  border: none;
  padding-right: 7px;
  border-radius: 5px;
}
.header .container-fluid .right-col .search-panel .input-box input[type=search] {
  height: auto;
  width: 100%;
  background-color: transparent;
  border: none;
  padding-left: 10px;
  font-family: "Libre Baskerville", system-ui;
  font-size: var(--step--1);
}
.header .container-fluid .right-col .search-panel .input-box input[type=search]:focus {
  outline: none;
  box-shadow: none;
}
.header .container-fluid .right-col .search-panel .input-box .btn-search {
  width: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  padding: 5px;
  display: flex;
  align-items: center;
}
.header .container-fluid .right-col .account-nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.header .container-fluid .right-col .account-nav .wishlist-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 40px;
}
.header .container-fluid .right-col .account-nav .wishlist-btn img {
  width: 40px !important;
}
.header .container-fluid .right-col .account-nav .cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 40px;
}
.header .container-fluid .right-col .account-nav .cart-btn img {
  width: 40px !important;
}
.header .container-fluid .right-col .account-nav .dropdown .btn-secondary {
  background-color: transparent;
  padding: 0;
  min-width: 120px;
  border: none;
}
.header .container-fluid .right-col .account-nav .dropdown .btn-secondary:focus {
  outline: none;
  box-shadow: none;
}
.header .container-fluid .right-col .account-nav .dropdown .btn-secondary img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 5px;
}
.header .container-fluid .right-col .account-nav .dropdown .btn-secondary::after {
  color: #000;
}
.header .container-fluid .right-col .account-nav .dropdown .btn-secondary span {
  color: #000;
  font-family: "Libre Baskerville", system-ui;
  font-size: var(--step--1);
}
.header .container-fluid .right-col .account-nav .dropdown .dropdown-menu li .dropdown-item {
  font-family: "Libre Baskerville", system-ui;
  font-size: var(--step--1);
}
.header .container-fluid .right-col .account-nav .dropdown .dropdown-menu li .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.header .container-fluid .right-col .account-nav .dropdown .dropdown-menu li .dropdown-item:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
}

.page-section {
  width: 100%;
  overflow-x: hidden;
}

.hero-banner {
  background-color: #fff;
  height: 100vh;
}
.hero-banner .row,
.hero-banner .col-12 {
  height: 100%;
}
.hero-banner .swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero-banner .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-banner .hero-slider .swiper-slide {
  height: 95%;
}
@media screen and (max-width: 992px) {
  .hero-banner .hero-slider .swiper-slide {
    height: 50%;
  }
}
.hero-banner .hero-slider .swiper-slide .row {
  width: 100%;
}
.hero-banner .hero-slider .swiper-slide .left-col {
  padding: 0;
}
.hero-banner .hero-slider .swiper-slide .left-col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero-banner .hero-slider .swiper-slide .right-col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-image: url("../images/hero-texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-banner .hero-slider .swiper-slide .right-col .content {
  text-align: center;
}
.hero-banner .hero-slider .swiper-slide .right-col .content h1 {
  font-size: calc(var(--step-5) * 2.5);
  font-family: "Playfair Display", system-ui;
  font-weight: bold;
}
.hero-banner .hero-slider .swiper-slide .right-col .content .explore-btn {
  background-color: transparent;
  border: 1px solid #000;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 30px;
}
.hero-banner .hero-slider .swiper-pagination .swiper-pagination-bullet {
  opacity: 0.4;
}
.hero-banner .hero-slider .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #00071B;
  transform: scale(1.2);
}

.card-block-01,
.card-block-02,
.card-block-03,
.card-block-04,
.card-block-05 {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.28);
}
.card-block-01 .image-block,
.card-block-02 .image-block,
.card-block-03 .image-block,
.card-block-04 .image-block,
.card-block-05 .image-block {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-block-01 .image-block img,
.card-block-02 .image-block img,
.card-block-03 .image-block img,
.card-block-04 .image-block img,
.card-block-05 .image-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.card-block-01 .content-block,
.card-block-02 .content-block,
.card-block-03 .content-block,
.card-block-04 .content-block,
.card-block-05 .content-block {
  background: #fff;
  padding: 15px 20px;
}
.card-block-01 .content-block .third__heading,
.card-block-02 .content-block .third__heading,
.card-block-03 .content-block .third__heading,
.card-block-04 .content-block .third__heading,
.card-block-05 .content-block .third__heading {
  margin: 0;
  margin-bottom: 10px;
}
.card-block-01 .content-block .price-body,
.card-block-02 .content-block .price-body,
.card-block-03 .content-block .price-body,
.card-block-04 .content-block .price-body,
.card-block-05 .content-block .price-body {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card-block-01 .content-block .price-body p,
.card-block-02 .content-block .price-body p,
.card-block-03 .content-block .price-body p,
.card-block-04 .content-block .price-body p,
.card-block-05 .content-block .price-body p {
  margin: 0;
}
.card-block-01 .content-block .price-body .rating,
.card-block-02 .content-block .price-body .rating,
.card-block-03 .content-block .price-body .rating,
.card-block-04 .content-block .price-body .rating,
.card-block-05 .content-block .price-body .rating {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.card-block-01 .content-block .price-body .rating span:nth-child(2),
.card-block-02 .content-block .price-body .rating span:nth-child(2),
.card-block-03 .content-block .price-body .rating span:nth-child(2),
.card-block-04 .content-block .price-body .rating span:nth-child(2),
.card-block-05 .content-block .price-body .rating span:nth-child(2) {
  display: flex;
  align-items: center;
  margin-left: 2px;
}
.card-block-01 .content-block .price-body .rating span:nth-child(2) img,
.card-block-02 .content-block .price-body .rating span:nth-child(2) img,
.card-block-03 .content-block .price-body .rating span:nth-child(2) img,
.card-block-04 .content-block .price-body .rating span:nth-child(2) img,
.card-block-05 .content-block .price-body .rating span:nth-child(2) img {
  width: 0.7rem;
}
.card-block-01 .content-block .price del,
.card-block-02 .content-block .price del,
.card-block-03 .content-block .price del,
.card-block-04 .content-block .price del,
.card-block-05 .content-block .price del {
  color: rgba(0, 0, 0, 0.5);
}
.card-block-01 .content-block .price .third__heading,
.card-block-02 .content-block .price .third__heading,
.card-block-03 .content-block .price .third__heading,
.card-block-04 .content-block .price .third__heading,
.card-block-05 .content-block .price .third__heading {
  margin: 0;
  margin-right: 20px;
}

.card-block-02 .content-block {
  background: #fff;
  padding: 15px 20px;
  text-align: center;
  padding-top: 25px;
}
.card-block-02 .content-block .deals-logo {
  width: 150px;
  margin-bottom: 25px;
}
.card-block-02 .content-block .sub__heading {
  margin-bottom: 10px;
}

.card-block-03 {
  display: flex;
  flex-direction: row-reverse;
  max-height: 500px;
}
.card-block-03 .image-block {
  width: 50%;
  border-radius: 0;
  height: 100%;
}
.card-block-03 .content-block {
  background: #fff;
  padding: 15px 20px;
  text-align: center;
  padding-top: 25px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-block-03 .content-block .deals-logo {
  width: 180px;
  margin-bottom: 45px;
}
.card-block-03 .content-block .explore-btn {
  background-color: transparent;
  border: 1px solid #000;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 15px;
}

.card-block-04 {
  padding: 20px;
}
.card-block-04 .image-block {
  width: 100%;
  text-align: center;
  height: auto;
  padding: 30px 0 20px;
}
.card-block-04 .image-block img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: 0 auto;
}
.card-block-04 .rating-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--step-0);
  margin-bottom: 20px;
}
.card-block-04 .rating-block img {
  width: 15px;
  filter: brightness(0);
  margin: 0 3px;
}
.card-block-04 .rating-block span {
  margin-left: 10px;
}

.card-block-05 {
  display: flex;
  max-height: 500px;
  border-radius: 0;
  transform: scale(1) !important;
}
.card-block-05 .image-block {
  width: 60%;
  border-radius: 0;
  height: auto;
}
.card-block-05 .image-block img {
  height: 100%;
  border-radius: 0;
}
.card-block-05 .content-block {
  background: #fff;
  padding: 15px 20px;
  text-align: left;
  padding-top: 25px;
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.trending-slider-section {
  padding: 50px 0;
}
.trending-slider-section .row:first-child {
  margin-bottom: 20px;
}
.trending-slider-section .trending-slider {
  padding-bottom: 30px;
}
.trending-slider-section .trending-slider .swiper-slide {
  overflow: visible;
}

.deals-slider-section {
  padding: 50px 0;
}
.deals-slider-section .row:first-child {
  margin-bottom: 20px;
}
.deals-slider-section .deals-slider {
  padding-bottom: 30px;
}
.deals-slider-section .deals-slider .swiper-slide {
  overflow: visible;
}

.offers-slider-section {
  padding: 50px 0;
}
.offers-slider-section .row:first-child {
  margin-bottom: 20px;
}
.offers-slider-section .offers-slider {
  padding-bottom: 30px;
}
.offers-slider-section .offers-slider .swiper-slide {
  overflow: visible;
}
.offers-slider-section .offers-slider .swiper-slide .card-block-03 {
  transform-origin: center;
  transform: scale(0.9);
  transition: "all" 0.3s ease-in-out;
  -webkit-transition: "all" 0.3s ease-in-out;
  -moz-transition: "all" 0.3s ease-in-out;
}
.offers-slider-section .offers-slider .swiper-slide-active .card-block-03 {
  transform-origin: center;
  transform: scale(1);
}

.brand-show .brand-show-container {
  position: relative;
  overflow: hidden;
}
.brand-show .brand-show-container .overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 33;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.brand-show .brand-show-container .overlay-content h2 {
  color: #fff;
}
.brand-show .brand-show-container .overlay-content h2:first-child {
  font-size: calc(var(--step-5) * 2);
  margin-bottom: calc(var(--step-5) * 1.5);
}
.brand-show .brand-show-container .overlay-content h2:nth-child(2) {
  margin-bottom: 20px;
}
.brand-show .brand-show-container .overlay-content h2:nth-child(3) {
  margin-bottom: 20px;
}
.brand-show .brand-show-container .overlay-content .explore-btn {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 15px;
  color: #fff;
}

.shop-by-category {
  padding: 50px 0;
}
.shop-by-category .row:first-child {
  margin-bottom: 20px;
}
.shop-by-category .shop-category {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 250px);
}
@media screen and (max-width: 768px) {
  .shop-by-category .shop-category {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 250px);
  }
}
.shop-by-category .shop-category .image-grid {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
.shop-by-category .shop-category .image-grid .overlay-block {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 44;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.shop-by-category .shop-category .image-grid .overlay-block .third__heading {
  margin: 0;
  color: #fff;
}
.shop-by-category .shop-category .image-grid .overlay-block p.para {
  display: flex;
  align-items: center;
  color: #fff;
}
.shop-by-category .shop-category .image-grid .overlay-block p.para .arrow {
  width: 13px;
  background-color: #fff;
  height: 1px;
  border-radius: 5px;
  margin-left: 10px;
  position: relative;
}
.shop-by-category .shop-category .image-grid .overlay-block p.para .arrow::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 1px solid #fff;
  right: 0;
  top: -3.5px;
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
}
.shop-by-category .shop-category .image-grid:hover .overlay-block {
  opacity: 1;
}
.shop-by-category .shop-category .image-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.shop-by-category .shop-category .image-grid img:hover {
  transform: scale(1.2);
  transform-origin: center;
}
.shop-by-category .shop-category .image-block1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
@media screen and (max-width: 768px) {
  .shop-by-category .shop-category .image-block1 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
}
.shop-by-category .shop-category .image-block2 {
  grid-column: 5/span 1;
  grid-row: 2/span 1;
}
@media screen and (max-width: 768px) {
  .shop-by-category .shop-category .image-block2 {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
}
.shop-by-category .shop-category .image-block3 {
  grid-column: 5/span 2;
  grid-row: 1/span 1;
}
@media screen and (max-width: 768px) {
  .shop-by-category .shop-category .image-block3 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
}
.shop-by-category .shop-category .image-block4 {
  grid-column: 3/span 2;
  grid-row: 2/span 1;
}
@media screen and (max-width: 768px) {
  .shop-by-category .shop-category .image-block4 {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }
}
.shop-by-category .shop-category .image-block5 {
  grid-column: 3/span 2;
  grid-row: 1/span 1;
}
@media screen and (max-width: 768px) {
  .shop-by-category .shop-category .image-block5 {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
}
.shop-by-category .shop-category .image-block6 {
  grid-column: 6/span 1;
  grid-row: 2/span 1;
}
@media screen and (max-width: 768px) {
  .shop-by-category .shop-category .image-block6 {
    grid-column: 2/span 1;
    grid-row: 3/span 1;
  }
}

.customer-review {
  padding: 50px 0;
}
.customer-review .row:first-child {
  margin-bottom: 20px;
}
.customer-review .review-slider {
  padding-bottom: 30px;
}
.customer-review .review-slider .swiper-slide {
  overflow: visible;
}

.feature-blog {
  padding: 50px 0;
}
.feature-blog .row:first-child {
  margin-bottom: 20px;
}
.feature-blog .blog-slider {
  padding-bottom: 30px;
}
.feature-blog .blog-slider .swiper-slide {
  overflow: visible;
  display: flex;
  align-items: center;
}
.feature-blog .blog-slider .swiper-slide .card-block-05 {
  transform-origin: center;
  transform: scale(0.9);
  transition: "all" 0.3s ease-in-out;
  -webkit-transition: "all" 0.3s ease-in-out;
  -moz-transition: "all" 0.3s ease-in-out;
}
.feature-blog .blog-slider .third__heading {
  color: #000;
}
.feature-blog .blog-slider .para-03 {
  width: 100%;
  color: #000;
  padding-top: 15px;
  border-top: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature-blog .blog-slider .para-03 .arrow {
  bottom: 2px;
  width: 13px;
  background-color: #000;
  height: 1px;
  border-radius: 5px;
  margin-left: 10px;
  position: relative;
  display: block;
}
.feature-blog .blog-slider .para-03 .arrow::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 1px solid #000;
  right: 0;
  top: -3.5px;
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
}
.feature-blog .blog-slider .para-01,
.feature-blog .blog-slider .para-02 {
  color: #848484;
}
.feature-blog .feature-row {
  margin-top: 50px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.feature-blog .feature-row .col {
  flex: unset;
  width: calc(20% - 15px);
  padding: 20px;
  background-color: #F0F0F0;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .feature-blog .feature-row .col {
    width: calc(33.33% - 15px);
  }
}
@media screen and (max-width: 575px) {
  .feature-blog .feature-row .col {
    width: calc(50% - 15px);
  }
}
.feature-blog .feature-row .col .third__heading {
  font-weight: bold;
}
.feature-blog .feature-row .col .para {
  margin: 0;
}
.feature-blog .feature-row .col img {
  width: 30px;
  margin-bottom: 10px;
}

.about-us {
  padding: 0;
}
.about-us .disc-col .contact {
  display: flex;
  flex-direction: column;
}
.about-us .disc-col .contact .para {
  margin: 0;
  font-weight: bold;
}
.about-us .disc-col .contact a {
  font-weight: normal !important;
  text-decoration: none;
  color: #000;
}
.about-us .img-col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.footer {
  width: 100%;
  padding: 80px 0 0;
  background-color: #00071B;
  margin-top: 50px;
}
.footer .row {
  margin: 0;
}
.footer .logo-block {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.footer .logo-block img {
  width: 84px;
  filter: invert(100) brightness(100);
  margin-right: 20px;
}
.footer .logo-block h5 {
  font-size: 64px;
  color: #fff;
  font-family: "Libre Baskerville", system-ui;
}
.footer .footer-menu {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.footer .footer-menu .menu-item {
  width: 14%;
}
@media screen and (max-width: 992px) {
  .footer .footer-menu .menu-item {
    width: 33.3333333333%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 575px) {
  .footer .footer-menu .menu-item {
    width: 50%;
  }
}
.footer .footer-menu .menu-item .third__heading {
  color: #fff;
  font-weight: bold;
}
.footer .footer-menu .menu-item .menu-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .footer-menu .menu-item .menu-list li {
  margin-bottom: 7px;
}
.footer .footer-menu .menu-item .menu-list li .menu-link {
  text-decoration: none;
  color: #fff;
}
.footer .footer-menu .get-in-touch {
  width: 30%;
}
@media screen and (max-width: 575px) {
  .footer .footer-menu .get-in-touch {
    width: 100%;
  }
}
.footer .footer-menu .get-in-touch .third__heading {
  color: #fff;
}
.footer .footer-menu .get-in-touch .para {
  color: #fff;
}
.footer .footer-menu .get-in-touch form .form-group {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
}
.footer .footer-menu .get-in-touch form .form-group .icon {
  width: 30px;
  display: flex;
  align-items: center;
}
.footer .footer-menu .get-in-touch form .form-group .icon svg {
  width: 100%;
}
.footer .footer-menu .get-in-touch form .form-group .form-control {
  border-radius: 0;
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: "Libre Baskerville", system-ui;
  font-size: var(--step-0);
}
.footer .footer-menu .get-in-touch form .form-group .form-control:focus {
  outline: none;
  box-shadow: none;
}
.footer .sub_footer {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .sub_footer .col-md-8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 575px) {
  .footer .sub_footer .col-md-8 {
    flex-wrap: wrap;
  }
}
.footer .sub_footer .col-md-8 .para {
  margin: 0;
}
@media screen and (max-width: 575px) {
  .footer .sub_footer .col-md-8 .para {
    width: 100%;
    margin-bottom: 10px;
  }
}
.footer .sub_footer .col-md-8 .para a {
  text-decoration: none;
  color: #fff;
}
.footer .sub_footer .col-md-8 .social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .sub_footer .col-md-8 .social-links li {
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}
.footer .sub_footer .col-md-8 .social-links li a img {
  width: 100%;
}
.footer .sub_footer .col-md-8 .social-links li:last-child {
  margin-right: 0;
}

.product-info {
  min-height: 300px;
}/*# sourceMappingURL=style.css.map */