@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.heading{
    font-family: $primary-font;
    font-size:var(--step-5)
}

.sub__heading{
    font-family: $primary-font;
    font-size:var(--step-4)

}

.third__heading{
    font-family: $primary-font;
    font-size:var(--step-1)
}

.para{
    font-family: $primary-font;
    font-size:var(--step-0)
}

.small{
    font-family: $primary-font;
    font-size:var(--step--2)
}


a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}

button{
    &:focus{
        outline: none;
        box-shadow: none;
    }
}